* {
  margin: 0px;
  box-sizing: border-box;
}
header {
  height: 10vh;
  font-weight: 700;
  font-size: 24px;
  font-family: "Inconsolata", monospace;
  width: 100%;
  padding: 10px;
}
main {
  min-height: 100vh;
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#scarecrow {
  height: 447.43px;
  width: 539.22px;
}
aside {
  margin-left: 30px;
  font-family: "Space Mono", monospace;
}
aside > h1 {
  font-size: 44px;
  margin-bottom: 30px;
}
aside > p {
  font-size: 20px;
  margin-bottom: 40px;
}
aside > button {
  height: 68px;
  width: 216px;
  font-size: 18px;
  font-family: "Inconsolata", monospace;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  padding: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1024px) {
  main {
    flex-direction: column;
  }
  aside > h1 {
    font-size: 36px;
  }
  aside > p {
    font-size: 18px;
  }
  aside {
    margin-left: 0px;
  }
  #scarecrow {
    width: 100%;
    object-fit: contain;
  }
}
